
footer{
     text-align: center;
     margin-top: 20px;
}
section{
    background-color: navajowhite;
    margin: 10px;
    padding: 10px;
    border: 20px solid white;
    border-radius: 10px;
    box-shadow: 10px 20px 30px navajowhite;
}