nav> ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 10px;
    padding: 5px;

}
nav li:hover{
    background-color: rgb(190, 12, 12);
}
nav li a  {
    text-decoration: none;
    color: black;
}